*{margin:0;padding:0}
	body{padding:20px;background:white;background:white;color:#555;font:80%/140% 'helvetica neue',sans-serif;width:870px;margin: 0 auto;}
	.caption{color:#888;position:absolute;top:250px;left:3px;width:200px;}
	.galleria_wrap{position:relative;margin-top:2em;}
	.gallery_layout{width:200px;float:left;}
	.gallery_layout li{width:55px;height:70px;border:3px double #eee;margin: 0 2px 2px 0;background:#eee;}
	.gallery_layout li.hover{border-color:#bbb;}
	.gallery_layout li.active{border-style:solid;border-color:#222;}
	.gallery_layout li div{left:240px}
	.gallery_layout li div .caption{font:italic 0.7em/1.4 georgia,serif;}
	
	.galleria_container{margin:0 auto 60px auto;height:438px;width:700px;float:right;}
		
	.info{text-align:left;margin:30px 0;border-top:1px dotted #221;padding-top:30px;clear:both;}
	.info p{margin-top:1.6em;}
	
	/*.nav{position:absolute;top:410px;left:0; padding-top:15px;clear:both;}*/

	

.galleria{list-style:none;width:170px}
.galleria li{display:block;width:60px;height:60px;overflow:hidden;float:left;margin:0 10px 10px 0}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:400px} /* MSIE bug */
