  /* Override some defaults */
  html, body {
    background-color: #eee;
  }
  body {
    padding-top: 40px;
  }
  .container > footer p {
    text-align: center;
  }
  .container {
	/* Grid size: 14 (not 16) */
    width: 820px;
  }

  /* The white background content wrapper */
  .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }

  /* Page header tweaks */
  .page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
  }

  .content .span4.sidebar {
    margin-left: 10px;
    padding-left: 9px;
    border-left: 1px solid #eee;
  }

  .topbar .btn {
    border: 0;
  }

@font-face {
    font-family: 'HandelGothicRegular';
    src: url('../fonts/handelgothic/handelgothic-webfont.eot');
    src: url('../fonts/handelgothic/handelgothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/handelgothic/handelgothic-webfont.woff') format('woff'),
         url('../fonts/handelgothic/handelgothic-webfont.ttf') format('truetype'),
         url('../fonts/handelgothic/handelgothic-webfont.svg#HandelGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.brand {
	font-family: 'HandelGothicRegular';
	font-weight: bold;
}
.brand .php {
	color: #29ABE2;
}

.blogimage {
	float: right;
	margin-right: 20px;
	margin-left: 10px;
}

.attendees .attending-user {
	padding: 5px 0;
	display: block;
	clear:both;
}
.attendees .attending-user img {
	margin-right: 10px;
	float: left;
}