.debug {
	display: none;
}

/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px;
}
.container > footer p {
  text-align: center;
}
.container {
/* Grid size: 14 (not 16) */
  width: 820px;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.content .span4.sidebar {
  margin-left: 10px;
  padding-left: 9px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

@font-face {
    font-family: 'HandelGothicRegular';
    src: url('../fonts/handelgothic/handelgothic-webfont.eot');
    src: url('../fonts/handelgothic/handelgothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/handelgothic/handelgothic-webfont.woff') format('woff'),
         url('../fonts/handelgothic/handelgothic-webfont.ttf') format('truetype'),
         url('../fonts/handelgothic/handelgothic-webfont.svg#HandelGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.brand {
	font-family: 'HandelGothicRegular';
	font-weight: bold;
}
.brand .php {
	color: #29ABE2;
}

.blogimage {
	float: right;
	margin-right: 20px;
	margin-left: 10px;
}
img.border {
	border: solid #ccc 1px;
	padding: 5px;
}
img.blogimage.border {
	margin-left: 15px;
	margin-bottom: 10px;
}

.attendees .attending-user {
	padding: 3px 0;
}
.attendees .attending-user img {
	text-align: baseline;
	margin-right: 10px;
}

.beta-ribbon {
	position: fixed;
	top: 40px;
	left: 0;
	z-index: 1;
}

.github-ribbon {
	position: fixed;
	top: 40px;
	right: 0;
	z-index: 1;
}

/**
 * Members details
 * ------------------------------------
 */
.member-summary {
	position: relative;
	padding: 10px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
	overflow: hidden;
}
.member-summary .member-thumb {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	text-align: center;
}

.social-links {
	margin-left: 0;
}
.social-links li {
	list-style: none;
	margin: 0;
}
.social-links li a {
	display: block;
	padding-left: 25px;
	height: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
}
.social-links .twitter {
	background-image: url(../img/social-icons/16/twitter.png);
}
.social-links .facebook {
	background-image: url(../img/social-icons/16/facebook.png);
}
.social-links .linkedin {
	background-image: url(../img/social-icons/16/linkedin.png);
}
.social-links .tumblr {
	background-image: url(../img/social-icons/16/tumblr.png);
}

/**
 * Calendar icon / element
 * ------------------------------------
 */
.calendar {
	float: left;
	width: 54px;
	margin-top: .8em;
	margin-right: 1em;
	font-size: 0.8em; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 5px #05587e;
	-moz-box-shadow: 0 0 5px #05587e;
	-webkit-box-shadow: 0 0 5px #05587e;
}

.calendar > span {
	display: block;
}

.calendar > .month {
	text-align: right;
	padding: 2px 5px 2px 0;
	font-size: 1.2em; 
	background: #6086a6;
	color: #fff;
	font-weight: bold;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	text-shadow: 0 1px #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#acc0d1), to(#6086a6));
	background: -moz-linear-gradient(top, #acc0d1, #6086a6);
}

.calendar > .day {
	text-align: center;
	font-weight: bold;
	font-size: 2.3em;
	line-height: 1.8em;
	background: #fff;
	-webkit-border-bottom-left-radius:  5px;
	-moz-border-radius-bottomleft:      5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright:     5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#405b72), to(#e6e6e6), color-stop(.08,#f9f9f9));
	background: -moz-linear-gradient(top, #f9f9f9, #e6e6e6);
}

/**
 * Event summary (index)
 * ------------------------------------
 */
.event-summary h2, .event-summary .well {
	margin-left: 75px;
}

/**
 * Home page post details
 * ------------------------------------
 */
.home-post {
	position: relative;
	float: left;
	margin-bottom: 15px;
	border: solid #ccc 1px;
}
.short-post {
	width: 280px;
	padding-left: 55px;
}
.short-post:nth-child(odd) {
	margin-left: 15px;
}
.short-post img {
	position: absolute;
	left: 0;
}
